.alertify {
  &.hide {
    display: block!important;
  }
  .alert,
  .dialog {
    >* {
      border-radius: 4px;
    }
    nav button {
      min-height: 0;
      line-height: normal;
      padding: 8px 15px;

      &.ok {
        border: 1px solid #ccc;
      }
    }
  }
}
