.event-control {
  background-color: #f2f2f2;

  a {
    color: $font-color;
    cursor: pointer;
    opacity: .5;

    &:hover {
      opacity: 1;
    }
  }

  &[class*='bg-']{
    &:not(.bg-default):not(.bg-white) {
      a {
        color: $transparent-white-5!important;
        opacity: 1;

        &:hover {
          color: white!important;
        }
      }
    }
  }
}

.fc-overlay {
  display: none;
  position: absolute;
  min-width: 260px;
  padding: 15px 0;
  top: auto;
  left: 50%;
  margin-left: -150px;
  z-index: 1000;
  color: $font-color!important;

  &.left {
    left: 100%;
    top: -15px;
    padding: 0 10px;
    margin: 0;
  }

  &.right {
    left: auto;
    right: 100%;
    top: -15px;
    padding: 0 10px;
    margin: 0;
  }

  .panel {
    padding: 10px;
  }
}

.fc {

  .fc-toolbar {
    height: 50px;
    color: #fff;
    background-color: $theme-default;
    border-radius: 0;
    margin: 0;

    .fc-button {
      color: $transparent-white-5;
      background: transparent;
      border: none;
      box-shadow: none;
      text-shadow: none;
      margin: 0;
      height: 50px;
      line-height: 28px;
      padding: 10px;

      &:hover {
        color: white;
      }
    }

    h2 {
      font-size: 24px;
      line-height: 50px;
      margin: 0;
      text-transform: uppercase;
      font-weight: $font-weight-light;
      font-family: $font-raleway;
      color: white;
    }
  }


  .fc-view-container {
    .fc-day-grid .fc-row {
      z-index: auto;
    }
    .fc-event {
      padding: 3px 5px;
      font-size: $font-size-small;
      border-radius: 0;
      background-color: white;
      border: 0;
      color: $font-color;

      &.fc-event-end:not(.fc-event-start) {
        border: 0!important;
      }

      &:focus,&:hover,&:active {
        z-index: 1000;

        .fc-overlay {
          display: block;
        }
      }
    }

    .fc-view {
      &.fc-month-view,
      &.fc-agenda-view {
        .fc-head {
          table {
            > thead {
              > tr {
                > th{
                  &.fc-widget-header {
                    border: 0;
                    background-color: #fff;
                    padding: 10px;
                    color: $font-color;
                    font-size: $font-size-small;
                    font-weight: $font-weight-normal;
                  }
                  &.fc-agenda-gutter {
                    padding: 0;
                  }
                }
              }
            }
          }
        }
        .fc-body {
          table {
            > thead {
              tr {
                td,
                th {
                  &.fc-day-number {
                    padding: 5px 10px;
                    margin: 5px;
                    color: $font-color;
                    font-size: $font-size-small;
                  }
                  &.fc-state-highlight {
                    color: white;
                  }
                }
              }
            }
          }
        }
      }
      &.fc-month-view {
        .fc-body {
          table {
            > tbody {
              > tr {
                > td {
                  &.fc-state-highlight {
                    position: relative;

                    &:after {
                      content: '';
                      background-color: $lightred;
                      color: white;
                      width: 22px;
                      height: 22px;
                      position: absolute;
                      right: 6px;
                      top: 2px;
                      @include border-radius(50%);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
