<div class="page page-core page-login">
    <div class="login-modal">
        <div class="alertify-logs pull-right"></div>
        <div class="branding">
            <!--<img src="assets/images/erp.png"  height="150" width="150" alt>-->
            <h2 class="brand"><strong>ERP </strong>PORTAL</h2>
        </div>
       
        <!--<div class="line-text"><span>or</span></div>-->
        <form ng-submit="ctrl.login()" name="form">
            <div class="form-group with-addon">
                <span class="input-addon"><i class="icon-user"></i></span>
                <input type="text" placeholder="Username" ng-model="ctrl.username" ng-required="true" class="form-control">
            </div>
            <div class="form-group with-addon">
                <span class="input-addon"><i class="icon-key"></i></span>
                <input type="password" placeholder="Password" ng-model="ctrl.password" ng-required="true" class="form-control">
            </div>
            <div class="form-group">
                <a ui-sref="pages.forgotpass" class="pull-right">Forgot Password?</a>
                <label class="minotaur-checkbox minotaur-label inline-block">Remember me
                    <input type="checkbox" checked>
                    <div class="input-indicator"></div>
                </label>
            </div>
            <button type="submit" class="btn btn-block btn-lg btn-rounded-40"  ng-disabled="form.$invalid">Login</button>
            <a id="jump" ui-sref="dashboard">.</a>

        </form>
    </div>
</div>z