/*
* Main content
*/

#content {
  padding: 60px 0 0 280px;
  width: 100%;
  min-height: 100%;
  background-color: $content-bg;
  transition: all 400ms cubic-bezier(0.05,0.74,0.27,0.99);
  z-index: 1;

  .page {
    padding: 30px;

    &.pull-to-header {
      transition: all 400ms cubic-bezier(0.05,0.74,0.27,0.99);
      position: relative;
      z-index: 5;
    }

    &.full-height {
      position: absolute;
      top: 60px;
      bottom: 0;
      padding: 0;
    }
  }
}

.appWrap {
  &.navigation-sm {
    #content {
      padding-left: 60px;
    }
  }
  &.viewport-sm,
  &.viewport-sm.rtl {
    #content {
      padding-top: 60px;
      padding-left: 0;
      padding-right: 0;

      .page {
        &.pull-to-header {
          top: 0;
        }
      }
    }
  }
  &.hz-menu {
    @media only screen and (min-width: 1200px) {
      #content {
        padding-left: 0;
      }
    }
  }
  &.rtl {
    #content {
      padding: 60px 280px 0 0;
    }
    &.navigation-sm {
      #content {
        padding-right: 60px;
      }
    }
  }
  &.core {
    #content {
      padding: 0;
      background: url(../assets/images/bg.jpg) left top/cover no-repeat;
      .page {
        padding-top: 100px;
      }
    }
  }
}

@media (max-width: 680px) {
  .appWrap.core {
    #content .page {
      padding-top: 20px;
    }
  }
}

@media (max-width: 380px) {
  #content .page {
    padding: 30px 10px 30px;
  }
}
