minotaur-loading {
  &.hide {
    display: none;
  }
  &.animate {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $content-bg;
    z-index: 120;
  }
}
