<p ng-message="required" style="margin: 0">This field is required</p>
<p ng-message="minlength" style="margin: 0">This field is too short</p>
<p ng-message="maxlength" style="margin: 0">This field is too long</p>
<p ng-message="email" style="margin: 0">This needs to be a valid email</p>
<p ng-message="number" style="margin: 0">This needs to be a valid number</p>
<p ng-message="match" style="margin: 0">Values do not match!</p>
<p ng-message="pattern" style="margin: 0">Input in bad format!</p>
<p ng-message="min" style="margin: 0">This value is too low</p>
<p ng-message="max" style="margin: 0">This value is too high</p>
