<div class="page page-core page-signup">

  <div class="login-modal">

    <div class="branding">
      <img src="assets/images/logo-alt.png" alt>
      <h2 class="brand"><strong>Sign </strong>Up</h2>
    </div>

    <form>
      <div class="row">
          <div class="radio">
                  <div class="col-md-6">
                    <input type="radio" name="school"  value="school" ng-model="vm.type" checked=""><b>School</b>
                  </div>
                    <div class="col-md-6">
                      <input type="radio" name="user"  value="user" ng-model="vm.type"><b>User</b>
                     </div>
         </div><br><br>
      <div class="form-group with-addon">
        <span class="input-addon"><i class="icon-user"></i></span>
        <input type="text" placeholder="Username" ng-model="vm.username" class="form-control">
      </div>
      <div class="form-group with-addon">
        <span class="input-addon"><i class="icon-key"></i></span>
        <input type="password" placeholder="Password" ng-model="vm.pass" class="form-control">
      </div>
      <div class="form-group with-addon">
        <span class="input-addon"><i class="icon-user"></i></span>
        <input type="number" placeholder="Mobile" ng-model="vm.mob" class="form-control">
      </div>
      <div class="form-group with-addon">
        <span class="input-addon"><i class="icon-envelope"></i></span>
        <input type="email" placeholder="Email address" ng-model="vm.mail" class="form-control">
      </div>
      </div>
      <button type="submit" class="btn btn-lg btn-block btn-rounded-40" ng-click="vm.submit();" ui-sref="pages.login">Submit</button>
    </form>

    <div class="mt-15 text-center">Already have an account? <a ui-sref="pages.login">Please log in</a></div>

  </div>

</div>
